// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : white
$secondary : #3B9C9C
$accent    : #9C3B3B

$positive  : #AC3B61
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

// $primary   : #e3bab3
// $secondary : #5959AB
// $secondary : #6f859b
// $accent    : #c49d7c
